.poll-group {
    .form-group {
        margin-bottom: 0 !important;
    }
}

.poll-switch-group {
    margin-top: 0.5rem;

    .form-switch {
        margin-right: 1rem;
        display: inline-block;
    }
}
