#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1021;

    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--c-nav-bg);
    border-bottom: 1px solid var(--c-border-light);
    font-weight: 500;

    .siteName {
        text-decoration: none;
        text-transform: uppercase;
        left: 15px;
        top: 7px;
        position: absolute;
        font-weight: bold;
        display: inline-block;
        z-index: 2001;
    }

    .user {
        position: absolute;
        right: 15px;
        top: 3.5px;
        z-index: 2001;

        .avatar {
            cursor: pointer;
            margin-left: auto;
        }

        .links {
            display: none;
            border-radius: 4px;
            background: var(--white);
            border: 1px solid var(--c-border-dark);
            position: relative;
            top: 5px;
            right: 0;

            .name {
                padding: 0.7rem 1rem 0.5rem;
            }

            a {
                display: block;
                padding: 0.5rem 1rem;
                font-weight: normal;
                color: var(--c-primary);
                text-decoration: none;
                white-space: nowrap;

                &:last-child {
                    padding-bottom: 0.7rem;
                }

                &:hover {
                    color: var(--c-primary-dark);
                }
            }
        }

        &:hover {
            .links {
                display: block;
            }
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
        position: relative;

        .link {
            display: block;
            padding: 0.5rem 1rem 0.7rem;
            font-weight: 500;
            color: var(--c-primary);
            text-decoration: none;
            white-space: nowrap;

            &:hover,
            &.active {
                color: var(--c-primary-dark);
            }

            &.active {
                position: relative;

                .arrow-up {
                    position: absolute;
                    bottom: -1.5px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: inline-flex;

                    svg {
                        vertical-align: top;
                    }

                    path {
                        stroke: hsl(var(--primary-hs), var(--l-80));
                    }

                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 9px;
                        background: var(--c-nav-bg);
                        position: absolute;
                        bottom: 0.5px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 3px;
                    }
                }
            }
        }

        .links {
            position: relative;

            .link {
                padding-left: 1rem;
                padding-right: 1rem;

                .arrow-down {
                    margin-left: 6px;
                }
            }

            .childrens {
                display: none;
                border-radius: 4px;
                position: absolute;
                top: -1px;
                background: var(--white);
                border: 1px solid var(--c-border-dark);
                z-index: 1;
                left: -1px;

                .active {
                    .arrow-up {
                        display: none;
                    }
                }
            }

            &:hover {
                .childrens {
                    display: block;
                }
            }
        }

        .otherMenu {
            width: 22.5px;
            margin-left: 1rem;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;
            position: relative;

            .otherMenuItems {
                display: none;
            }

            span {
                display: block;
                height: 2px;
                width: 100%;
                background: var(--c-primary);
                border-radius: 4px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                transform-origin: left center;

                &:nth-child(2) {
                    margin: 6px 0;
                }
            }

            &.open {
                span {
                    background: var(--c-primary-dark);

                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }

                .otherMenuItems {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    transform: translateX(-50%);
                    margin-left: 8px;
                    margin-top: 7.5px;
                    border-radius: 4px;
                    background: var(--white);
                    border: 1px solid var(--c-border-dark);

                    &::before {
                        content: "";
                        position: absolute;
                        top: -14.5px;
                        transform: rotate(180deg);
                        left: 50%;
                        margin-left: -7px;
                        border: 7px solid rgb(0 0 0 / 0%);
                        border-top: 7px solid var(--c-border-dark);
                    }

                    .active {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &.active {
                span {
                    background: var(--c-primary-dark);
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid hsl(var(--primary-hs), var(--l-80));
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        height: 48px;

        .saveStatus {
            font-weight: 400;
            margin-left: 15px;
        }

        .action-item {
            margin-left: 8px;
        }
    }
}
