:root {
    --primary-hs: 0, 0%;
    --dark-hs: 210, 11%;

    --l-0: 0%;
    --l-15: 15%;
    --l-30: 30%;
    --l-50: 50%;
    --l-75: 75%;
    --l-80: 80%;
    --l-90: 90%;
    --l-94: 94%;
    --l-100: 100%;

    --white: hsl(0, 0%, var(--l-100));
    --black: hsl(0, 0%, var(--l-0));

    --c-nav-link: #8b8b8b;
    --c-nav-bg: #f8f9fa;

    --c-primary: #8b8b8b;
    --c-primary-dark: #495057;

    --c-bg-dark: #f2f2f2;
    --c-bg-dark-hover: #e2e2e2;

    --c-border-light: #ecedee;
    --c-border-dark: #dee2e6;

    --c-placeholder-light: #c0c8d0;
    --c-placeholder-dark: #8b8b8b;

    --c-shadow: hsl(0, 0%, 85%);

    --btn-bg: #e0e0e0;
    --btn-bg-hover: #d6d5d5;

    --constructor-img-shadow: hsl(0, 0%, 81%);
    --constructor-field-hover: hsl(0, 0%, 95%);

    --file-upload-c: #212529;
    --file-upload-bg: #e9ecef;
    --label: #6c757d;
    --switch-checked: #0d6efd;
    --multiple-icon-bg: hsl(60, 3%, 94%);
    --multiple-icon-hover-bg: hsl(60, 2%, 90%);
    --multiple-icon-svg: hsl(40, 2%, 68%);
    --invalid-shadow: #ff6868;

    --select-value: hsl(0, 0%, 90%);
    --select-label: hsl(0, 0%, 20%);
    --select-drop-svg: hsl(0, 0%, 80%);
    --select-separator: hsl(0, 0%, 80%);
    --select-bg: hsl(0, 0%, var(--l-100));

    --modal-back: hsl(0, 0%, 20%);
    --modal-close: hsl(0, 0%, var(--l-50));

    --popover-head: hsl(0, 0%, var(--l-94));

    // ad
    --ad-black-color: rgb(55, 53, 47);
    --ad-gray-color: rgba(55, 53, 47, 0.65);
    --ad-invalid-color: red;

    --ad-font-size: 0.875rem;
    --ad-font-small-size: 0.75rem;

    --ad-bg-gray: rgba(55, 53, 47, 0.08);
    --ad-bg-gray-hover: rgba(55, 53, 47, 0.13);
    --ad-bg-white: white;

    --ad-fill-gray-color: rgba(55, 53, 47, 0.35);
    --ad-fill-gray-color-hover: rgba(55, 53, 47, 0.7);

    --ad-border-box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
        rgba(15, 15, 15, 0.2) 0px 9px 24px;
    --ad-border-box-shadow-small: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;

    --ad-border-color: rgba(55, 53, 47, 0.16);
    --ad-shadow-color: rgba(15, 15, 15, 0.2);

    // tooltip
    --tooltip-bg: rgba(0, 0, 0, 0.75);
}

@media (prefers-color-scheme: dark) {
    :root {
        --l-0: 100%;
        --l-15: 85%;
        --l-30: 70%;
        --l-75: 25%;
        --l-80: 20%;
        --l-90: 10%;
        --l-94: 6%;
        --l-100: 0%;

        --c-nav-link: #747474;
        --c-nav-bg: #070605;

        --c-primary: #747474;
        --c-primary-dark: #b6afa8;

        --c-bg-dark: #0d0d0d;
        --c-bg-dark-hover: #1d1d1d;

        --c-border-light: #131211;
        --c-border-dark: #211d19;

        --c-placeholder-light: #3f372f;
        --c-placeholder-dark: #747474;

        --c-shadow: hsl(0, 0%, 15%);

        --btn-bg: #1f1f1f;
        --btn-bg-hover: #292a2a;

        --constructor-img-shadow: hsl(0, 0%, 19%);
        --constructor-field-hover: hsl(0, 0%, 5%);

        --file-upload-c: #dedad6;
        --file-upload-bg: #161310;
        --label: #938a82;
        --switch-checked: #0d6efd;
        --multiple-icon-bg: hsl(60, 3%, 6%);
        --multiple-icon-hover-bg: hsl(60, 2%, 10%);
        --multiple-icon-svg: hsl(40, 2%, 42%);
        --invalid-shadow: #ff6868;

        --select-value: hsl(0, 0%, 10%);
        --select-label: hsl(0, 0%, 80%);
        --select-drop-svg: hsl(0, 0%, 20%);
        --select-separator: hsl(0, 0%, 20%);

        // ad
        --ad-black-color: rgba(255, 255, 255, 0.81);
        --ad-gray-color: rgba(255, 255, 255, 0.443);

        --ad-bg-gray: rgba(255, 255, 255, 0.055);
        --ad-bg-gray-hover: rgba(255, 255, 255, 0.105);
        --ad-bg-white: rgb(25, 25, 25);

        --ad-fill-gray-color: rgba(255, 255, 255, 0.282);
        --ad-fill-gray-color-hover: rgba(255, 255, 255, 0.6);

        --ad-border-box-shadow: rgba(240, 240, 240, 0.1) 0px 0px 0px 1px, rgba(50, 50, 50, 0.2) 0px 3px 6px,
            rgba(50, 50, 50, 0.4) 0px 9px 24px;
        --ad-border-box-shadow-small: rgba(240, 240, 240, 0.1) 0px 0px 0px 1px;

        --ad-border-color: rgba(255, 255, 255, 0.13);
        --ad-shadow-color: rgba(240, 240, 240, 0.2);

        // tooltip
        --tooltip-bg: rgba(255, 255, 255, 0.75);
    }
}
