.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
    border-top-color: var(--tooltip-bg);
}

.tooltip-inner {
    background-color: var(--tooltip-bg);
    color: var(--white);
}
