.btn {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--c-border-light);
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    line-height: 1.3;
    display: inline-block;
    font-weight: 500;
    color: var(--c-primary-dark);
    background: var(--btn-bg);
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    &:hover {
        background: var(--btn-bg-hover);
        border-color: var(--btn-bg-hover);
    }

    &.btn-disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.btn-outline {
        background: none;
    }
}
