.constructor-field {
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
    min-height: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        margin-top: 1px;
        align-self: flex-start;
        background: var(--white);

        svg {
            width: 46px;
            height: 46px;

            line,
            circle,
            rect,
            path {
                stroke: var(--c-placeholder-dark);
            }
        }
    }

    .right {
        margin-left: 6px;
        margin-right: 14px;
        width: 100%;

        .name {
            font-size: 14px;
            line-height: 120%;
        }

        .description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--c-placeholder-dark);
            margin-top: 2px;
            font-size: 12px;
        }
    }

    &:hover {
        cursor: pointer;
        background: var(--constructor-field-hover);

        .screen {
            display: block;
        }

        .left {
            svg {
                background: var(--constructor-field-hover);
            }
        }
    }
}

.constructor-actions {
    display: flex;
    align-items: center;

    .desc {
        margin-left: 4px;
    }
}

.constructor-screen {
    position: absolute;
    z-index: 99999;
    left: 100%;
    padding: 5px;
    background: var(--white);
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0.5rem 1rem var(--c-shadow);

    img {
        max-height: 350px;
        vertical-align: top;
    }
}
