.modal {
    .modal-content {
        border-radius: 8px;
        border: 0;
        background-color: var(--white);

        .btn-close {
            position: absolute;
            right: 13px;
            top: 13px;
            z-index: 5;
            outline: 0;
            box-shadow: none;
            cursor: pointer;
            background: none;

            svg {
                fill: var(--modal-close);
            }
        }
    }
}

.modal-backdrop {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--modal-back);
}
