.charts {
    .chart_block {
        border: 1px solid var(--c-border-dark);
        padding: 9px 15px;
        background: #fff;

        .title {
            font-weight: 500;
        }
        .chart {
            max-height: 50vh;
            min-height: 300px;
        }
    }
}
