:root {
    --c-nav-link: #8b8b8b;
    --c-nav-bg: #f8f9fa;

    --c-primary: #8b8b8b;
    --c-primary-dark: #495057;

    --c-bg-dark: #f2f2f2;
    --c-bg-dark-hover: #e2e2e2;

    --c-border-light: #ecedee;
    --c-border-dark: #dee2e6;

    --c-placeholder-light: #c0c8d0;
    --c-placeholder-dark: #8b8b8b;

    --c-shadow: rgba(0, 0, 0, 0.15);
}
