#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1021;

    padding-right: 15px;
    padding-left: 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ecedee;
    font-weight: 500;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
        position: relative;

        .link {
            display: block;
            padding: 0.5rem 1rem 0.7rem;
            font-weight: 500;
            color: #8b8b8b;
            text-decoration: none;
            white-space: nowrap;

            &:hover,
            &.active {
                color: #495057;
            }

            &.active {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.5px;
                    transform: rotate(180deg);
                    left: 50%;
                    margin-left: -7px;
                    border: 7px solid rgb(0 0 0 / 0%);
                    border-top: 7px solid #dee2e6;
                }
            }
        }

        .links {
            position: relative;

            .link {
                padding-left: 1rem;
                padding-right: 1rem;

                svg {
                    margin-left: 6px;
                }
            }

            .childrens {
                display: none;
                border-radius: 4px;
                position: absolute;
                top: -1px;
                background: #fff;
                border: 1px solid #dee2e6;
                z-index: 1;
                left: -1px;

                .active {
                    &::before {
                        display: none;
                    }
                }
            }

            &:hover {
                .childrens {
                    display: block;
                }
            }
        }

        .otherMenu {
            width: 22.5px;
            margin-left: 1rem;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;
            position: relative;

            .otherMenuItems {
                display: none;
            }

            span {
                display: block;
                height: 2px;
                width: 100%;
                background: #8b8b8b;
                border-radius: 4px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                transform-origin: left center;

                &:nth-child(2) {
                    margin: 6px 0;
                }
            }

            &.open {
                span {
                    background: #495057;

                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }

                .otherMenuItems {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    transform: translateX(-50%);
                    margin-left: 8px;
                    margin-top: 7.5px;
                    border-radius: 4px;
                    background: #fff;
                    border: 1px solid #dee2e6;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -14.5px;
                        transform: rotate(180deg);
                        left: 50%;
                        margin-left: -7px;
                        border: 7px solid rgb(0 0 0 / 0%);
                        border-top: 7px solid #dee2e6;
                    }

                    .active {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &.active {
                span {
                    background: #495057;
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dee2e6;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        height: 48px;

        .saveStatus {
            font-weight: 400;
            margin-left: 15px;
            font-size: 0;
        }

        .action-item {
            margin-left: 8px;

            .selectedCount {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                transform: translate(30%, -30%);
                height: 15px;
                min-width: 15px;
                padding: 0 3px;
                background: #0d6efd;
                color: #fff;
                border-radius: 4px;
                text-align: center;
                font-size: 10px;
                line-height: 1.4;
            }
        }
    }
}
