.popover {
    line-height: 1.2;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: 1px solid #dee2e6;

    .popover-header {
        margin-top: 0;
        font-size: 15px;
        padding: 6px 14px;
        border-color: #dee2e6;
    }

    .popover-body {
        padding: 6px 14px;
        max-height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
