.filter-item {
    text-align: left;

    .filter-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .react-select-container,
        .form-control {
            width: 100%;
        }
    }

    &.isSort {
        .react-select__control,
        .form-control {
            border-right: 0 !important;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .sort {
        background-color: var(--c-bg-dark);
        border-radius: 0 8px 8px 0;
        border: 1px solid var(--c-border-light);
        border-left: 1px solid var(--select-separator);
        height: calc(1.5em + 0.5rem + 0.5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .clearSvgWrap {
            display: none;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            border: 1px solid var(--select-separator);
            background-color: var(--c-bg-dark);
            border-radius: 100%;
            transition: transform 400ms;

            svg {
                width: 11px;
                height: 11px;
            }

            &:hover {
                transform: translate(50%, -50%) scale(1.3);
            }
        }

        .sortSvgWrap {
            cursor: pointer;
            transition: color 150ms;
            color: var(--select-drop-svg);
            padding: 4px 3px;

            &:hover {
                color: hsl(0, 0%, 60%);
            }

            &.up {
                line.up {
                    color: var(--c-primary-dark);
                }
            }

            &.down {
                line.down {
                    color: var(--c-primary-dark);
                }
            }
        }

        svg {
            vertical-align: top;
            display: block;
        }
    }

    &.isActiveSort {
        .sortSvgWrap {
            color: hsl(0, 0%, 60%);
        }

        .clearSvgWrap {
            display: block;
        }

        z-index: 1021;
    }
}
