.items {
    border-collapse: collapse;
    width: 100%;

    tr {
        &.checked,
        &:hover {
            background-color: hsl(var(--primary-hs), var(--l-90));
        }

        &.editing {
            background-color: hsl(var(--primary-hs), var(--l-80));

            td {
                pointer-events: none;
                cursor: default;
            }
            td:first-child {
                pointer-events: auto;
            }
        }

        th {
            position: sticky;
            background: var(--white);
            z-index: 1020;
            border-top: 0;
            top: 88px;

            &:after {
                content: "";
                position: absolute;
                bottom: -4px;
                display: block;
                left: 0;
                right: 0;
                border-bottom: 4px solid var(--c-border-dark);
            }
        }

        th:first-child,
        td:first-child {
            > *:first-child {
                margin-left: 11px;
                margin-right: 11px;
            }
        }

        th:last-child,
        td:last-child {
            > *:last-child {
                margin-right: 11px;
            }
        }

        td {
            position: relative;

            .icon_href {
                position: absolute;
                top: 14px;
                right: 15px;
                z-index: 1;

                path {
                    stroke: var(--c-primary-dark);
                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 8px;

                .edit-icon {
                    width: 18px;
                    height: 18px;
                    display: block;
                    cursor: pointer;

                    path {
                        fill: hsl(var(--primary-hs), var(--l-30));
                    }
                }

                .editor {
                    width: 31px;
                    height: 31px;
                    border-radius: 100%;
                    overflow: hidden;
                    background-color: hsl(var(--primary-hs), var(--l-30));
                    color: var(--white);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .image {
                height: 31px;
                width: 31px;
                object-fit: cover;
                border-radius: 8px;
                object-position: center;
                vertical-align: top;
            }
        }

        td,
        th {
            max-width: 400px;
            vertical-align: middle;
            border-bottom: 1px solid var(--c-border-dark);
            padding: 6px 3px;
        }
    }
}
