.items {
    border-collapse: collapse;
    width: 100%;
    will-change: transform;

    tr {
        &.checked,
        &:hover {
            background-color: hsl(var(--primary-hs), var(--l-90));
        }

        &.isTimerDelete {
            td {
                padding-bottom: 32px;
            }

            .deletedText {
                opacity: 0.5;
                position: absolute;
                display: inline-block;
                border-top: 1px solid hsl(var(--primary-hs), var(--l-30));
                white-space: nowrap;
                top: 100%;
                margin-top: 10px;
                font-size: 90%;

                svg {
                    position: absolute;
                    top: -6px;
                    left: 35px;

                    path {
                        stroke: hsl(var(--primary-hs), var(--l-30));
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 9.5px;
                    background: var(--c-bg-dark);
                    position: relative;
                    top: -1px;
                    left: 36.5px;
                }
            }
        }

        &.deleted {
            background-color: unset;

            td > * {
                opacity: 0.3;
                pointer-events: none;
                cursor: default;
            }

            td {
                .actions {
                    pointer-events: auto;
                    opacity: 1;
                    position: relative;

                    .form-check,
                    .icon {
                        opacity: 0.3;
                        pointer-events: none;
                        cursor: default;

                        &.restore-icon {
                            pointer-events: auto;
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.editing {
            background-color: hsl(var(--primary-hs), var(--l-80));

            td {
                pointer-events: none;
                cursor: default;
            }
            td:first-child {
                pointer-events: auto;
            }
        }

        th {
            position: sticky;
            background: var(--white);
            z-index: 1020;
            border-top: 0;
            top: 88px;
            padding: 6px 3px 10px;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                display: block;
                left: 0;
                right: 0;
                border-bottom: 4px solid var(--c-border-dark);
            }
        }

        th:first-child,
        td:first-child {
            > *:first-child {
                margin-left: 11px;
                margin-right: 11px;
            }
        }

        th:last-child,
        td:last-child {
            > *:last-child {
                margin-right: 11px;
            }
        }

        td {
            padding: 6px 3px;
            position: relative;

            .icon_href {
                position: absolute;
                top: 14px;
                right: 15px;
                z-index: 1;

                path {
                    stroke: var(--c-primary-dark);
                }
            }

            .image {
                height: 31px;
                width: 31px;
                object-fit: cover;
                border-radius: 8px;
                object-position: center;
                vertical-align: top;
            }
        }

        td,
        th {
            max-width: 400px;
            vertical-align: middle;
            border-bottom: 1px solid var(--c-border-dark);

            .actions {
                display: inline-flex;
                align-items: center;
                vertical-align: middle;
                column-gap: 8px;

                .icon {
                    display: inline-flex;
                    position: relative;
                    cursor: pointer;
                    margin-right: 4px;

                    line,
                    path {
                        stroke: hsl(var(--primary-hs), var(--l-30));
                    }
                }
            }
        }
    }
}
